.CardWrapper {
  display: inline-block;
}

.Card {
  width: 6vh;
  height: 6vh;
  line-height: 6vh;
  font-size: 3vh;
  border: 1px solid #666666;
  display: inline-block;
  background-color: #fefefe;
  border-radius: 2px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.BlackCard {
  color: black;
}

.RedCard {
  color: red;
}

@keyframes Chip-appear {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.P1Chip {
  background-color: #ccccff;
}

.P1ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ccccff;
}

.P2Chip {
  background-color: #ffcccc;
}

.P2ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ffcccc;
}
