.CardWrapper {
  display: inline-block;
}

.Card {
  border: 1px solid black;
  display: inline-block;
  background-color: #fefefe;
  border-radius: 2px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

@media(orientation: landscape) {
  .Card {
    width: 7vh;
    height: 7vh;
    line-height: 7vh;
    font-size: 3vh;
  }
}

@media(orientation: portrait) {
  .Card {
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    font-size: 3vw;
  }
}

.SpadesCard {
  color: black;
}

.HeartsCard {
  color: red;
}

.DiamondsCard {
  color: blue;
}

.ClubsCard {
  color: green;
}

@keyframes Chip-appear {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.P1Chip {
  background-color: #ccccff;
}

.P1ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ccccff;
}

.P2Chip {
  background-color: #ffcccc;
}

.P2ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ffcccc;
}

.CardHighlightPrimary {
  box-shadow: 0 0 1.5px 1.5px magenta;
  border: 1px solid magenta;
}

.CardHighlightSecondary {
  box-shadow: 0 0 1.5px 1.5px cyan;
  border: 1px solid cyan;
}
