.Card {
  border: 1px solid black;
  background-color: #fefefe;
  border-radius: 2px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

@media(orientation: landscape) {
  .Card {
    width: 7.5vh;
    height: 7.5vh;
    line-height: 7.5vh;
    font-size: 3vh;
  }
}

@media(orientation: portrait) {
  .Card {
    width: 7.5vw;
    height: 7.5vw;
    line-height: 7.5vw;
    font-size: 3vw;
  }
}

.SpadesCard {
  color: black;
}

.HeartsCard {
  color: red;
}

.DiamondsCard {
  color: blue;
}

.ClubsCard {
  color: green;
}

.JokerCard {
  color: white;
  background-color: black;
  font-size: 200%;
}

@keyframes Chip-appear {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.P1Chip {
  background-color: #ccccff;
}

.P1ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ccccff;
}

.P1ChipSuper {
  animation: Chip-appear 500ms;
  background-color: #ccccff;
  box-shadow: inset 0 0 4px 5px #5555fc;
}

.P2Chip {
  background-color: #ffcccc;
}

.P2ChipAnim {
  animation: Chip-appear 500ms;
  background-color: #ffcccc;
}

.P2ChipSuper {
  animation: Chip-appear 500ms;
  background-color: #ffcccc;
  box-shadow: inset 0 0 4px 5px #fc5555;
}

.CardHighlightPrimary {
  box-shadow: inset 0 0 2px 3px magenta;
}

.CardHighlightSecondary {
  box-shadow: inset 0 0 2px 3px orange;
}
